.SortMenu-sort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.SortMenu-elem {
    display: flex;
    flex-direction: row;

}

.SortMenu-sort {
    margin: 0 10px 0 10px;
}

.Sort-arrow {
    margin: 0 4px 0 4px;
    text-decoration: none;
}
